
    <div class="row ">
      <div class="colum col-5 " style="padding: 0%;">
          <div style="margin: 5%;">
            <input class="form-control" type="input" placeholder="Buscar" ngDefaultControl [(ngModel)]="searchContacts"  (ngModelChange)="searchContact()">
          </div>
          <hr style="background-color:#8b8c8d;  margin-bottom:0">
          <div class="button-add-person ">
            <button type="button" class="btn btn-success" (click)="addContact()">Agregar Contacto</button>
          </div>
          <hr style="background-color:#8b8c8d;  margin-bottom:0">
            <ul class="list-group list-group-flush">
                <li class="card-list list-group-item" *ngFor="let item of contacts | async | filterContact: searchContacts" (click)="onClickSelectContact(item)">
                      <div>{{item.firstName + ' ' + item.lastName}}</div>
                      <div>{{item.bank}}</div>
                      <div>{{item.acountNumber}}</div>
                </li>
            </ul>
      </div>
      <div class="colum col-7 ">
        <div *ngIf="this.showDataContact ; else elseBlock">
          <div class="card mt-5">
            <div class="card-header d-flex justify-content-between ">
              <h4>{{selectContact.firstName + ' ' + selectContact.lastName}} </h4>
              <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-outline-primary m-2" (click)="editContact()">Editar</button>
                <button type="button" class="btn btn-outline-danger m-2">Eliminar</button>
              </div>
            </div>
            <div class="card-body">
              <h6>E-mail: {{selectContact.email}}</h6>
              <h6>Banco: {{selectContact.bank}}</h6>
              <h6>Tipo de Cuenta: {{selectContact.acountType}}</h6>
              <h6>Número de Cuenta: {{selectContact.acountNumber}}</h6>
            </div>
          </div>
        </div>
        <ng-template #elseBlock>
          <div class="card mt-2">
            <div class="card-body">
              <form >
                <div class="form-group">
                  <label>Nombre</label>
                  <input type="text"
                          class="form-control"
                          placeholder="Nombre">
                </div>
                <div class="form-group">
                  <label>Apellido</label>
                  <input type="text"
                          class="form-control"
                          placeholder="Apellido">
                </div>
                <div class="form-group">
                  <label>E-mail</label>
                  <input type="text"
                          class="form-control"
                          placeholder="E-mail">
                </div>
                <div class="form-group">
                  <label>Banco</label>
                  <input type="text"
                          class="form-control"
                          placeholder="Banco">
                </div>
                <div class="form-group">
                  <label>Tipo de Cuenta</label>
                  <input type="text"
                          class="form-control"
                          placeholder="Tipo de Cuenta">
                </div>
                <div class="form-group">
                  <label>Número de Cuenta</label>
                  <input type="text"
                          class="form-control"
                          placeholder="Número de Cuenta">
                </div>
                <button type="button" class="btn btn-primary mt-3 float-end">Primary</button>
              </form>
            </div>
          </div>
        </ng-template>
      </div>
    </div>