<div >
  <nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-between">
    <div class="box">
      <img src="https://images.vexels.com/media/users/3/129288/isolated/preview/52e06e07244a3590366669665ea540e3-icono-de-circulo-de-banco-3.png" style="width: 110%; height: 110%;" >
    </div>
    <div class="float-right" >
      <div class="text-navbar ">
        <a >FREDDY ALEJANDRO CALAHORRANO RIVERA</a>
      </div>
      <div class="text-navbar" style="background-color: black; width: 3px; height: 25px;">
      </div>
      <div class="text-navbar" style="margin-right: 50px;">
        <a  href="" (click)="logout()">Salir</a>
      </div>
    </div>
  </nav>
</div>
  <div class="row " style="padding: 0%; margin: 0%; ">
    <div class="col-3 sidebar" style="padding: 0%;">
      <div class="flex-shrink-0 p-3 bg-white" style="width: 280px; float: left">
        
        <ul class="list-unstyled ps-0">
          <div>
            <button routerLink="products" class="btn align-items-center">Mis productos</button>
          </div>
          <li class="border-top my-3"></li>
          <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
              Transferencias
            </button>
            <div class="collapse" id="home-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a routerLink='prueba' class="link-dark rounded">Directas</a></li>
                <li><a href="#" class="link-dark rounded">Interbancarias</a></li>
              </ul>
            </div>
          </li>
          <li class="border-top my-3"></li>
          <div>
            <button routerLink="contacts" class="btn align-items-center">Mis contactos</button>
          </div>
          <div>
            <button class="btn align-items-center">Mi perfil</button>
          </div>
        </ul>
      </div>
    </div>
    <div class="col-9 align-self-center">
      <router-outlet></router-outlet>
    </div>
  </div>