<div class="row">
    <div class="col-md-8">
        <h3>Detalles de Movimiento</h3>
        <h2>{{tipTrans}}</h2>
        <div class="list-group" *ngFor="let item of lsTrans">
            <a href="javascript:" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Monto: {{item.valor | currency}}</h5>
                    <small>{{item.FechaTrans | date}}</small>
                </div>
                <small>Saldo: {{item.Saldo | currency}}</small>
            </a>
        </div>
    </div>
</div>
