<div class="container">
    <div class="card" style="width: 18rem;">
        <form class="row g-3" style="margin-left: 15px; margin-top: 15px;">
            <div class="col-auto">
              <input type="text" class="form-control" id="staticEmail2" placeholder="Usuario">
            </div>
            <div class="col-auto">
              <input type="password" class="form-control" id="inputPassword2" placeholder="Contraseña">
            </div>
            <div class="col-auto">
              <button type="button" class="btn btn-primary mb-3" (click)="login()">Iniciar Sesión</button>
            </div>
        </form>
    </div>
</div>

